* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body {
    background-image: url(/src/img/fundo_branco.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

header{
    padding: 10px;
    margin: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100px;
}

.h1 {
    align-items: center;
}

nav {

}

.menu {
    display: flex;
    padding: 20px;
    align-items: center;
    list-style: none;
    overflow: hidden;
}

.menu-item {
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
    border: 3px solid rgb(233, 230, 230);
    border-radius: 10px;
}


main {
    display: flex;
    padding: 10px;
    margin: 12px;
}



section {
    display: flex;
    margin: 10px;
    padding: 20px;
    align-items: center;
}

img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 20px;
}


.text {
    display: inline;
    margin: 2px;
    font-size: 12px;
}

p {
    padding: 5px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}

.local {
    width:100% ;
}

h2 {
    text-align: center;
    font-size: 34px;
    padding: 10px;
    margin: 10px;
}

footer {
    display: flex;
    padding: 10px;
    margin: 20px;
    justify-content: center; 
    overflow: hidden;
}

#criador {
    width: 100px;
    height: 100px;
}