* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body {
    background-image: url(/src/img/fundo_branco.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

header{
    padding: 10px;
    margin: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100px;
}

.h1 {
    align-items: center;
}

nav {

}

.menu {
    display: flex;
    padding: 20px;
    align-items: center;
    list-style: none;
    overflow: hidden;
}

.menu-item {
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
    border: 3px solid rgb(233, 230, 230);
    border-radius: 10px;
    
    
}

#container {
    display: flex;
    justify-content: space-between;

}

#produto {
    background-color: rgba(232, 237, 240, 0.993);
    border: 2px solid black;
    border-radius:20px;
    padding: 10px;
    margin: 10px;
}

img {
    width: 220px;
    border-radius: 10px;
}
h2, p {
    text-align: center;
    margin: 3px;
    padding: 3px;
}

input {
    display: flex;
    margin: 2px;
    padding: 10px;
}

